[submodule "ts"]
	path = ts
	url = git@github.com:okumurakengo/til_ts.git
[submodule "go"]
	path = go
	url = git@github.com:okumurakengo/til_go.git
[submodule "rust"]
	path = rust
	url = git@github.com:okumurakengo/til_rust.git
[submodule "cs"]
	path = cs
	url = git@github.com:okumurakengo/til_cs.git
[submodule "python"]
	path = python
	url = git@github.com:okumurakengo/til_python.git
[submodule "elm"]
	path = elm
	url = git@github.com:okumurakengo/til_elm.git
